<div style="display: flex;flex-wrap: wrap;padding: 2%;">
    <!--<img class="imgLink" style="width: 28vw;height: 28vw;" src="assets/itl.svg" (click)="openLink('itslearning')"/>
    <img class="imgLink" style="width: 28vw;height: 28vw;" src="assets/off.svg" (click)="openLink('office')"/>
    <img class="imgLink" style="width: 28vw;height: 28vw;" src="assets/logosintjansquire.svg" (click)="openLink('sintjan')"/>
    <img class="imgLink" style="width: 28vw;height: 28vw;" src="assets/som.svg" (click)="openLink('somtoday')"/>
    <img class="imgLink" style="width: 28vw;height: 28vw;" src="assets/zrm.svg" (click)="openLink('zermelo')"/>
    <app-grade-widget class="imgLink" style="width: 28vw;height: 60vw;"></app-grade-widget>-->
    <app-widget name="link" [data]="{x:1,y:1,appName:'zermelo',src:'assets/zrm.svg',color:'#ee3b33'}"></app-widget>
    <app-widget name="grades" [data]="{x:0,y:1}"></app-widget>
    <app-widget name="link" [data]="{x:2,y:2,appName:'office',src:'assets/off.svg',color:'#ec3900'}"></app-widget>
    <app-widget name="homework"></app-widget>
</div>