<div style="height: 100%;" class="mat-app-background" *ngIf="visible">
    <div class="container mat-app-background" id="header" style="padding: 0px;display: flex;flex-direction: row;flex-wrap: nowrap;"><!--mat-app-background-->
        <img src="assets/logosintjan.svg" style="height: 90%;" (click)="link('sintjan')"/>
    </div>
    <div id="page" class="mat-app-background"><!--my-light-theme--><!--mat-app-background-->
        <app-footer>
            <app-navigation>
                <app-grid-page *appListItem="linkGrid"></app-grid-page>
                <app-subject-page *appListItem="grades"></app-subject-page>
                <app-schedule-page *appListItem="scedule"></app-schedule-page>
                <app-settings-page *appListItem="settings"></app-settings-page>

                
                <app-grid-page *appListItem></app-grid-page>
                <app-grid-page *appListItem></app-grid-page>
            </app-navigation>
        </app-footer>
    </div>
</div>
<div *ngIf="!visible">
    <button mat-flat-button color="primary" (click)="stopScan();" style="position: absolute;bottom: 0px;">Back</button>
</div>
<!--<mat-tab-group [color]="'undifined'" mat-align-tabs="center" headerPosition="below">
    <mat-tab>
        <ng-template mat-tab-label >
            <button mat-flat-button color="primary">First</button>
        </ng-template>
        <div class="container app">
            <app-grid-page></app-grid-page>
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <button mat-flat-button color="primary">Second</button>
        </ng-template>
        <div class="container app">
            <app-header></app-header>
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <button mat-flat-button color="primary">Third</button>
        </ng-template>
        <div class="container app">
            <app-header></app-header>
        </div>
    </mat-tab>
</mat-tab-group>-->